# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

Header set Access-Control-Allow-Origin "*"

Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

ErrorDocument 404 /404.php